h1, h2, h3 {
  line-height: 1.2;
}



h3 {
  text-decoration: underline;
}


.imgcocktail {
  width: 200px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

figure {
  margin: 0; /* elimina márgenes por defecto */
  padding: 0;
    text-align: center;
}

.cv-image {
width: 200px;
 border: 1px solid black;
}

.contenedor {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #DCE6F1;
}
.mitrabajodebar {
  width: 100%;
  max-width: 270px;
  aspect-ratio: 9 / 16; 
  border: none;
}

body {
  background-image: url('fondococtelria.webp');
  margin: 0;
  background-size: contain;
background-position: center;
}


figcaption {
  margin-top: 10px;
}

#navegar {
  font-size: large;
}

p {
  font-size: 1.1em;
  line-height: 1.5;
  font-style: oblique;

}

h2 {
  font-size: 1.6em;
  margin-bottom: -0.3rem; 
}
h1 {
  font-size: 2em;
  margin-top: 1px;
  margin-bottom: -0.9rem;

}
#home {
  text-align: center;
}

#formulario {
  margin-top: 10px;
}


.iconpag {
  width: 200px;
  display: block;
  margin: 1px auto; 
}

button#submit {
  width: 100%;
  padding: 12px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
input[type="text"],
input[type="email"],
input[type="message"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
}