h1, h2, h3 {
  line-height: 1.2;
}



h3 {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}
#navegar {
  list-style: none; 
  padding:2rem;
  margin: 0;
   display: flex; 
justify-content: space-between; /* reparte el espacio entre los <li> */             
width: 100%;
background-color: black;
}

.imgcocktail {
  width: 200px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

figure {
  margin: 0; /* elimina márgenes por defecto */
  padding: 0;
    text-align: center;
}

.cv-image {
width: 200px;
 border: 1px solid black;
}

.contenedor {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #DCE6F1;
}
.mitrabajodebar {
  width: 100%;
  max-width: 270px;
  aspect-ratio: 9 / 16; 
  border: none;
}

body {
  background-image: url('fondococtelria.webp');
  margin: 0;
  background-size: contain;
background-position: center;
}


figcaption {
  margin-top: 10px;
}

p {
  font-size: 1.1em;
  line-height: 1.5;
  font-style: oblique;

}

h2 {
  font-size: 1.6em;
  margin-bottom: -0.3rem; 
}
h1 {
  font-size: 2em;
  margin-top: 1px;
  margin-bottom: -0.9rem;

}
#home {
  text-align: center;
}

#formulario {
  margin-top: 10px;
}
.iconpag {
  width: 200px;
  display: block;
  margin: 1px auto; 
  padding-top: 1rem;
}

button#submit {
  width: 100%;
  padding: 12px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button#submit:hover {
  background-color: #2980b9;
}


input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
}

#mycv {
  display:flex;
   margin: 1rem auto;
  align-items: center;      /* Alinea al inicio vertical */
  justify-content: flex-end;  /* Alinea al inicio horizontal */
  gap: 2rem;                    /* Espacio entre hijos */
  background-color: beige;
  padding: 1rem 10rem ;
  font-size: 2rem;
  font-weight: normal;
  font-family: Arial, sans-serif;
}


#navegar li a {
    color: white;  
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
  text-decoration: none;
font-size: 1.5rem;
  font-style: oblique;
font-family: Arial, sans-serif;
cursor: pointer;
transition: background-color 0.3s ease, color 0.3s ease;
}

#navegar li a:hover {
  background-color: #DCE6F1; /* Cambia el color de fondo al pasar el ratón */
  color: black; /* Cambia el color del texto al pasar el ratón */
}

#descripcioncoctel {
  white-space: pre;
}
.titulosimulador {
  margin-bottom: 1rem;
}
#simulator {
  display: flex;
  flex-direction: column; /* Cambia a columna para mejor disposición */
  align-items: center; /* Centra los elementos */
  padding: 1rem;
  text-align: center; /* Centra el texto */
}

button#btnCalcular {
  width: 100%;
  padding: 12px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button#btnCalcular:hover {
  background-color: #2980b9;
}

#simulator select{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
}

#simulator label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  display: block; /* Asegura que el label ocupe toda la línea */
}
@media (max-width: 585px) {
  #mycv {
   display: flex;
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    align-items: center; /* Centra los elementos */
    padding: 0.4rem; /* Ajusta el padding */
gap: 0.1rem; /* Espacio entre los elementos */
text-align: center;
  }

  #navegar {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    align-items: center; /* Centra los elementos */
  }

  #navegar li {
    margin-bottom: 1.3rem; /* Espacio entre los enlaces */
  }
}


